@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
}

/* scrollbar.css */

/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5cbb0; /* Change this to your desired scrollbar handle color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8b68e; /* Change this to your desired scrollbar handle color on hover */
}
